.plus_Thumbnail {
  border-style: dotted;
  border-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  margin-left: 30px;
  height: 200px;
}
