.Webtoon-sort {
  width: 800px;
  margin: 10px;
}
.Webtoon-sort.wid {
  width: 800px;
  height: 150px;
}
.sortLeft {
  float: left;
}

.sortmsg {
  position: relative;
  top: 10%;
  left: 20%;
  background-color: #a2a5aa;
  border: none;
  color: white;
  width: 750px;
}
