.profile_all {
  margin: 20px;
  width: 40%;
  text-align: center;
}
.profile_all .profile_border {
  border-radius: 10px;
  border: 1px solid black;
  margin: 5px;
}
.profile_all .profile_img {
}

.profile_all .profile_img .profile_img.setting {
  position: relative;
  bottom: 110px;
  left: 170px;
}
